::-moz-selection {
  background: #ff8b9f;
}
::selection {
  background: #ff8b9f;
}

::-webkit-input-placeholder {
  color: #ccc;
}
::-moz-placeholder {
  color: #ccc;
}
:-ms-input-placeholder {
  color: #ccc;
}
:-moz-placeholder {
  color: #ccc;
}

@font-face {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Metropolis-Regular.5b71da4a.woff) format("woff");
}
@font-face {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Metropolis-Medium.3f10bfee.woff) format("woff");
}
@font-face {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 800;
  src: url(/fonts/Metropolis-ExtraBold.3d58dace.woff) format("woff");
}
@font-face {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 900;
  src: url(/fonts/Metropolis-Black.752889fc.woff) format("woff");
}

body {
  font-family: Metropolis;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #666666;
}

p {
  margin-bottom: 48px;
}

p.emoji {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 6px;
}

.row {
  margin-top: 75px;
  margin-bottom: 75px;
}

.logo {
  margin-top: 100px;
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
  line-height: 38px;
  letter-spacing: -1.43px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 32px;
}

h1 em {
  color: #ff8b9f;
  font-style: normal;
}

h2 {
  text-transform: lowercase;
  color: #f12b4c;
  font-size: 68px;
  line-height: 70px;
  font-weight: 900;
  letter-spacing: -2.68px;
  margin-top: 75px;
}

h3 {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -1.43px;
  font-weight: 800;
  color: #fff;
}

h3 em {
  color: #ff8b9f;
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}

li {
  display: inline;
}

li a {
  display: inline-block;
  margin-right: 20px;
}

header {
  background: #f12b4c url('/images/background.jpg') top left no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 75px;
  padding-bottom: 75px;
}

header .row {
  margin: 0;
}

.align-right {
  text-align: right;
}

section {
  background: #f12b4c url('/images/background.jpg') left -100px no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
}

footer {
  line-height: 50px;
}

footer img {
  vertical-align: middle;
}

footer .mark {
  margin-right: 12px;
}

footer a:link,
footer a:visited,
footer a:active {
  color: #666666;
  text-decoration: none;
  font-size: 16px;
}

footer a:hover {
  color: #f12b4c;
  text-decoration: none;
}

.form-wrapper {
  background-color: #fff;
  /*height: 52px;*/
  border-radius: 72px;
  padding: 10px 14px;
  width: 400px;
}

input[type="tel"].phone {
  display: inline-block;
  border: 0;
  margin: 0;
  background-color: transparent;
  height: 52px;
  line-height: 52px;
  width: 194px;
  color: #666;
  padding: 0 10px;
}
input[type="tel"].phone:focus {
  outline: none;
}

button,
.mobile-button {
  display: inline-block;
  background-color: #f12b4c;
  border: 0;
  color: #fff;
  text-transform: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 52px;
  height: 52px;
  line-height: 52px;
  margin: 0;
  letter-spacing: -0.64px;
  padding: 0;
  width: 200px;
}
button img,
.mobile-button img {
  top: -3px;
  position: relative;
  margin-right: 2px;
  vertical-align: middle;
}
button:hover,
.mobile-button:hover {
  color: #fff;
  background-color: #ff8b9f;
}

.mobile-button {
  border: 2px solid #fff;
}

section .form-wrapper {
  margin: 24px auto;
}

@media (min-width: 300px) and (max-width: 767px) {
  .column,
  .columns,
  .align-right {
    text-align: center;
  }

  .row {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  header {
    padding-top: 32px;
    padding-bottom: 32px;
    background-position: -200px 0;
  }

  header .screenshot {
    /*margin-top: 32px;*/
    display: none;
  }

  section {
    background-position: top left;
  }

  .logo {
    margin-top: 20px;
  }

  .form-wrapper {
    display: none;
  }

  .mark {
    display: block;
    margin: 12px auto !important;
  }

  main .screenshot {
    display: none;
  }

  ul {
    display: block;
  }

  ul li a {
    margin-right: 8px;
  }

  h1 {
    font-size: 40px;
    line-height: 38px;
  }

  h2 {
    font-size: 48px;
    line-height: 50px;
  }

  h3 {
    font-size: 50px;
    line-height: 50px;
  }

  p.emoji {
    width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .mobile-button {
    display: none;
  }
}
